<a href="https://colab.research.google.com/github/laffertybrian/W_William_Project_001/blob/test_feature/Exploratory_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is a test.

In [2]:
print("hello")

hello

In [3]:
import pandas as pd
import numpy as np

In [7]:
# loading dataset
df = pd.read_table('/content/drive/MyDrive/Data Science Projects/W_William_Project/AncestryDNA.txt')
df.head()

          rsid  chromosome  position allele1 allele2
0    rs3131972           1    752721       G       G
1  rs114525117           1    759036       G       G
2    rs4040617           1    779322       A       A
3  rs141175086           1    780397       C       C
4  rs115093905           1    787173       G       G

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
df.shape

(677864, 5)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 677864 entries, 0 to 677863
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   rsid        677864 non-null  object
 1   chromosome  677864 non-null  int64
 2   position    677864 non-null  int64
 3   allele1     677864 non-null  object
 4   allele2     677864 non-null  object
dtypes: int64(2), object(3)
memory usage: 25.9+ MB

In [13]:
df['chromosome'].describe()

count    677864.000000
mean          9.648791
std           6.451537
min           1.000000
25%           4.000000
50%           9.000000
75%          15.000000
max          26.000000
Name: chromosome, dtype: float64