<a href="https://colab.research.google.com/github/laffertybrian/W_William_Project_001/blob/main/Exploratory_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [4]:
# loading dataset
df = pd.read_table('/content/drive/MyDrive/Data Science Projects/AncestryDNA.txt')
df.head()

          rsid  chromosome  position allele1 allele2
0    rs3131972           1    752721       G       G
1  rs114525117           1    759036       G       G
2    rs4040617           1    779322       A       A
3  rs141175086           1    780397       C       C
4  rs115093905           1    787173       G       G

In [5]:
df.shape

(677864, 5)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 677864 entries, 0 to 677863
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   rsid        677864 non-null  object
 1   chromosome  677864 non-null  int64
 2   position    677864 non-null  int64
 3   allele1     677864 non-null  object
 4   allele2     677864 non-null  object
dtypes: int64(2), object(3)
memory usage: 25.9+ MB